{{#each this}}
<div class="col s12 m7">
    <h2 class="header" id="place-name">{{country}}</h2>
    <h3 clas="header" id="city-name">{{city}}</h3>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title">Qoute</span>
                <p id="price">{{price}}</p>
                <p id="qoute-date">{{qoute}}</p>
                <span class="card-title">Departure</span>
                <p id="outbound-origin">{{depart}}</p>
                <p id="outbound-carrier">{{departCarrier}}</p>
                <p id="outbound-depart">{{departTime}}</p>
                <p id="destination">{{dest}}</p>
                <span class="card-title">Return</span>
                <p id="inbound-origin">{{homeBound}}</p>
                <p id="inbound-carrier">{{homeCarrier}}</p>
                <p id="inbound-depart">{{homeTime}}</p>
                <p id="inbound-destination">{{homeDest}}</p>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light" name="action">Save
                    <i class="material-icons right">save</i>
                </button>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{!-- form for search bar --}}
{{!-- <img src="/assets/img/plane.jpg" width="400px" id="airplane"> --}}

<h1>This is the Body</h1>



<div class="blue"></div>